<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>网站用户信息</title>
    <!-- style -->
    <link rel="stylesheet" href="./style/serviceAgreement.css">
</head>

<body>

    <article id="agreement">
        <!-- title -->
        <h1 class="first-title title-1">哔哩哔哩直播服务协议</h1>

        <!-- time -->
        <div class="time">
            <p>
                <strong>更新时间：</strong>
                <span>2023 / 10 / 23</span>
            </p>
            <p>
                <strong>生效时间：</strong>
                <span>2023 / 10 / 30</span>
            </p>
        </div>

        <!-- main -->
        <main>

            <section>
                <h3 class="third-title title-3">【导 言】</h3>

                <p>本协议是基于<a href="">《哔哩哔哩弹幕网用户使用协议》</a>和<a href="">《哔哩哔哩隐私政策》</a>制定具有法律效力的协议（以下简称 “本协议”），以规范和明晰哔哩哔哩和用户之间（包括平台与主播之间、平台与普通用户之间、平台与主播及普通用户三者之间 ）于哔哩哔哩直播平台发生的权利义务。除非本协议另有说明，本协议中名词定义和解释与<a href="">《哔哩哔哩弹幕网用户使用协议》</a>条款中所涉名词一致。</p>

                <p>此外，哔哩哔哩根据法律法规、自身商业决策、社区发展的需要制定和发布的<a href="">《帮助中心》</a><a href="">《bilibili主播直播规范》</a><a href="">《哔哩哔哩电池用户协议》</a> 以及哔哩哔哩直播相关的其他协议、规则、公告、声明、政策等规范性文件，该等规范性文件均是本协议的重要补充，属于本协议的组成部分。</p>
            </section>

            <section>
                <h3 class="third-title title-3">【重要说明】</h3>

                <ol class="important">
                    <li>本协议中与用户的权益（可能）存在重大关系的条款（包括免除哔哩哔哩责任的条款、限制用户权利的条款、争议解决条款及司法管辖条款等），哔哩哔哩已采用字体加粗、下划线的方式来特别提醒您，请您留意重点查阅。用户认同哔哩哔哩已经以合理的方式进行了充分的提示，并充分履行了对于本协议所涉服务的提示义务。用户应当确保在使用本协议所涉服务前已仔细阅读、充分理解并毫无保留地接受本协议所有条款。若用户无法理解本协议部分条款的，用户承诺在使用本协议所涉服务前，向哔哩哔哩提出说明要求。</li>
                    <li>用户确认并承诺为完全民事行为能力人，具备完全民事权利能力，有能力同意并遵守本协议，并对本协议项下的全部行为独立承担法律责任。若用户不具备前述与其行为相适应的民事行为能力，则应获得法定监护人的知情同意。</li>
                    <li>若用户是未成年人的，则用户承诺将主动在监护人的指导下阅读和理解本协议，未成年人行使和履行本协议项下的权利和义务视为已获得法定监护人的认可。未成年人的监护人同意将成为本协议的主体之一，与未成年用户共同承担基于本协议的义务，并承诺积极履行监护义务。本协议以及基于本协议制定的其他规范性文件中可能存在明确禁止上一款所述未成年人使用的功能或服务的条款。请用户及监护人（若有）着重关注。</li>
                    <li>用户理解并同意，哔哩哔哩将按照<a href="">《哔哩哔哩隐私政策》</a>的约定处理和保护用户的个人信息。</li>
                </ol>
            </section>

            <section>
                <h3 class="third-title title-3">第一条 定义</h3>

                <ol>
                    <li>
                        <p><strong>用户：</strong>本协议的用户包含主播和普通用户。</p>

                        <ul class="number">
                            <li>
                                <strong>主播：</strong>
                                <span>指根据哔哩哔哩平台相关服务条款的要求及规则注册，申请成为哔哩哔哩直播平台的主播，并在哔哩哔哩直播平台从事直播活动的用户。</span>
                            </li>
                            <li>
                                <strong>普通用户：</strong>
                                <span>除主播以外的，其他使用哔哩哔哩直播中心服务的用户。</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>虚拟增值服务：</strong>指由哔哩哔哩直播平台基于直播相关服务提供给用户的，包括但不限于已经推出或即将推出的虚拟道具、产品、特权、特效、身份标识等在哔哩哔哩平台内使用的功能或享受的服务。虚拟增值服务包括不同的服务形态，包括免费赠送的服务，也包括需要付费才可以使用/享受的付费类服务。其中，部分服务可能附带免费赠送指定的其他服务。
                    </li>
                </ol>
            </section>

        </main>

    </article>

</body>

</html>