<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- style -->
    <link rel="stylesheet" href="./loading.css">
</head>

<body>
    <div id="loading">
        <p class="tips">加载中...</p>

        <!-- 动画元素 -->
        <section class="loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </section>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <script>
            (function($) {
                $.fn.typewriter = function() {
                    this.each(function() {
                        var $ele = $(this),
                            str = $ele.html(),
                            progress = 0;
                        $ele.html('');
                        var timer = setInterval(function() {
                            var current = str.substr(progress, 1);
                            if (current == '<') {
                                progress = str.indexOf('>', progress) + 1;
                            } else {
                                progress++;
                            }
                            $ele.html(str.substring(0, progress) + (progress & 1 ? '_' : ''));
                            if (progress >= str.length) {
                                clearInterval(timer);
                            }
                        }, 150);
                    });
                    return this;
                };
            })(jQuery);

            setInterval(() => {
                $(".tips").show().typewriter(10)
            }, 2000)
        </script>

    </div>
    <!--  -->

</body>

</html>