// out:false


/* ========== */


/* 中性色 */
@white: #ffffff; // 白色
@white-color: #ffffff;
@white-color-rgb: rgb(255, 255, 255, 1);

@black: #000000; // 黑色
@black-color: #000000;
@black-color-rgb: rgb(0, 0, 0, 1);

@gray-color: #6c757d; // 灰色
@gray-color-rgb: rgb(108, 117, 125, 1); // 灰色


/* ========== */


/* 命名色 */
@red: #e54038;
@blue: #007aff;
@green: #4cd964;
@yellow: #ffcc00;
@orange: #ff9500;
@purple: #5856d6;


/* ========== */


/* mac buttons */

// 关闭按钮
@mac-close: #FF7330;
@operating-orange: rgb(255, 115, 48, 1);

// 最小化按钮
@mac-minimize: #FEBC06;
@operating-yellow: rgb(254, 188, 6, 1);

// 全屏按钮
@mac-fullscreen: #34C759;
@operating-green: rgb(52, 199, 89, 1);


/* ========== */


/* 主色 */
@primary-color: #007bff; // 蓝色
@primary-color-rgb: rgb(0, 123, 255, 1); // 蓝色


/* ========== */


/* 语义色 */
@success-color: #28a745; // 成功绿色
@success-color-rgb: rgb(40, 167, 69, 1); // 成功绿色

@danger-color: #dc3545; // 危险红色
@danger-color-rgb: rgb(220, 53, 69, 1); // 危险红色

@warning-color: #ffc107; // 警告黄色
@warning-color-rgb: rgb(255, 193, 7, 1); // 警告黄色

@info-color: #17a2b8; // 信息蓝色
@info-color-rgb: rgb(23, 162, 184, 1); // 信息蓝色


/* ========== */